// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@mixin card($backgroundColor) {
  background: $backgroundColor;
  border-radius: 15px;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.4);
  margin: 2em 1em;
  overflow: hidden;
  color: $grey-4;
}

@mixin header() {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 160%;
}

@mixin link() {
  color: $red;
  font-size: 1em;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    color: $red-14;
  }
}

@import '~quasar-variables-styl';
